nbzip
nbgitpuller
jupyter_contrib_nbextensions
backoff==1.8.0
requests

numpy
pandas
scipy
matplotlib
scikit-learn
scikit-image
sympy
torch==1.3.1+cpu
torchvision==0.4.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html
nltk
gensim
tensorflow